section.part-homepage-hero {
  position: relative;
  background-color: var(--rich-black);
  position: fixed;
  width: 100vw;
  height: 100%;
  overflow: hidden; }
  section.part-homepage-hero.leadev-component-section:first-of-type {
    padding-top: 0;
    padding-left: 100px;
    padding-right: 100px; }
    @media screen and (max-width: 1024px) {
      section.part-homepage-hero.leadev-component-section:first-of-type {
        padding-left: 25px;
        padding-right: 25px; } }
  section.part-homepage-hero .background-gradient-mobile {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 40%);
    z-index: 1;
    min-height: 500px;
    opacity: 0;
    transition: 1s; }
    @media screen and (max-width: 1024px) {
      section.part-homepage-hero .background-gradient-mobile {
        display: flex; }
        section.part-homepage-hero .background-gradient-mobile.show {
          opacity: 1;
          transition: 1s; } }
  section.part-homepage-hero canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    transition: .5s; }
    @media screen and (max-width: 768px) {
      section.part-homepage-hero canvas {
        max-height: 950px; } }
  section.part-homepage-hero div.logo-3js {
    position: absolute;
    top: calc(50% - calc(70px / 2) - 3px);
    left: calc(50% - calc(380px / 2) + 35px); }
    section.part-homepage-hero div.logo-3js svg {
      width: 399px;
      height: 70px;
      overflow: hidden; }
      section.part-homepage-hero div.logo-3js svg path:nth-of-type(1), section.part-homepage-hero div.logo-3js svg path:nth-of-type(2) {
        transform: translateY(calc(100% + 10px));
        opacity: 0;
        transition: .4s ease-in-out; }
  section.part-homepage-hero div.lock__ui {
    display: flex; }
    section.part-homepage-hero div.lock__ui .left {
      width: 50%;
      height: 100%;
      max-width: 530px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media screen and (max-width: 1024px) {
        section.part-homepage-hero div.lock__ui .left {
          width: 100%;
          max-width: none; } }
      section.part-homepage-hero div.lock__ui .left span {
        transition: 0; }
        @media screen and (max-width: 1024px) {
          section.part-homepage-hero div.lock__ui .left span {
            text-align: center; } }
        section.part-homepage-hero div.lock__ui .left span.category-parent {
          margin-bottom: 15px; }
          @media screen and (max-width: 1024px) {
            section.part-homepage-hero div.lock__ui .left span.category-parent {
              min-height: 15px; } }
          @media screen and (max-width: 768px) {
            section.part-homepage-hero div.lock__ui .left span.category-parent {
              margin-bottom: 15px; } }
      @media screen and (max-width: 1024px) {
        section.part-homepage-hero div.lock__ui .left h1 {
          text-align: center; } }
      section.part-homepage-hero div.lock__ui .left p.description {
        margin: 25px 0 40px 0; }
        @media screen and (max-width: 1024px) {
          section.part-homepage-hero div.lock__ui .left p.description {
            text-align: center; } }
      section.part-homepage-hero div.lock__ui .left button {
        max-width: max-content;
        min-height: 33px; }
      section.part-homepage-hero div.lock__ui .left .slider-container {
        /**
         * 3rd Slide
         */ }
        @media screen and (max-width: 425px) {
          section.part-homepage-hero div.lock__ui .left .slider-container .slide-0 p {
            font-size: 14px;
            letter-spacing: 0.35px; } }
        @media screen and (max-width: 1024px) {
          section.part-homepage-hero div.lock__ui .left .slider-container .slide-0 button {
            margin: 0 auto; } }
        section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container {
          display: flex;
          flex-direction: row;
          padding: 20px 8px;
          border-radius: 5px; }
          @media screen and (max-width: 1366px) {
            section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container {
              padding: 13px 8px; } }
          @media screen and (max-width: 768px) {
            section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container {
              padding: 11px 0px; } }
          @media screen and (max-width: 1024px) {
            section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container:last-of-type {
              margin-bottom: 80px; } }
          @media screen and (max-width: 425px) {
            section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container:not(.open) div.illustration {
              display: flex; } }
          @media screen and (max-width: 425px) {
            section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container:not(.open) div.illustration img {
              margin: auto; } }
          section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container div.illustration {
            min-width: 55px;
            height: auto; }
            @media screen and (max-width: 1366px) {
              section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container div.illustration {
                min-width: 50px; } }
            @media screen and (max-width: 425px) {
              section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container div.illustration {
                min-width: 43px; } }
            section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container div.illustration img {
              width: 100%; }
          section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info {
            padding-left: 15px;
            display: flex; }
            section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary {
              display: flex;
              flex-direction: column; }
              section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary .content-title .title-subcontainer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 4px; }
                section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary .content-title .title-subcontainer .title {
                  font-size: 20px;
                  margin: auto 0; }
                  @media screen and (max-width: 1366px) {
                    section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary .content-title .title-subcontainer .title {
                      font-size: 18px; } }
                  @media screen and (max-width: 425px) {
                    section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary .content-title .title-subcontainer .title {
                      font-size: 16px; } }
                section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary .content-title .title-subcontainer .arrow-container {
                  transform: rotate(0deg); }
              section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary div.complete {
                padding-top: 0;
                max-height: 0px;
                overflow: hidden;
                transition: .35s ease-in-out; }
                section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary div.complete p {
                  font-size: 14px; }
                  @media screen and (max-width: 1366px) {
                    section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary div.complete p {
                      font-size: 13px; } }
                  @media screen and (max-width: 425px) {
                    section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary div.complete p {
                      font-size: 13px;
                      display: -webkit-box;
                      -webkit-line-clamp: 3;
                      -webkit-box-orient: vertical;
                      overflow: hidden; } }
                section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary div.complete button {
                  padding: 7px 14px;
                  font-weight: 700;
                  font-size: 14px;
                  margin-top: 15px; }
                  @media screen and (max-width: 1366px) {
                    section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary div.complete button {
                      font-size: 13px; } }
                  @media screen and (max-width: 425px) {
                    section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary div.complete button {
                      padding: 9px 11px;
                      font-size: 13px;
                      margin-top: 10px; } }
                  section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary div.complete button:hover {
                    transform: scale(1.03); }
        section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container.open .accordion-info .summary .content-title .title-subcontainer .arrow-container {
          transform: rotate(180deg); }
        section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container.open .accordion-info .summary div.complete {
          padding-top: 15px;
          height: auto;
          max-height: 150px;
          transition: .35s ease-in-out; }
          @media screen and (max-width: 768px) {
            section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container.open .accordion-info .summary div.complete {
              max-height: 300px; } }
        section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container:not(.open):hover {
          background-color: rgba(255, 255, 255, 0.1);
          cursor: pointer; }
        section.part-homepage-hero div.lock__ui .left .slider-container .slider-image-supercontainer {
          max-width: 450px; }
          @media screen and (max-width: 1440px) {
            section.part-homepage-hero div.lock__ui .left .slider-container .slider-image-supercontainer {
              max-width: 400px; } }
          @media screen and (max-width: 1024px) {
            section.part-homepage-hero div.lock__ui .left .slider-container .slider-image-supercontainer {
              max-width: none; } }
          section.part-homepage-hero div.lock__ui .left .slider-container .slider-image-supercontainer .slider-image-container .image-container {
            aspect-ratio: 16/9; }
            @media screen and (max-width: 1024px) {
              section.part-homepage-hero div.lock__ui .left .slider-container .slider-image-supercontainer .slider-image-container .image-container {
                display: none; } }
            section.part-homepage-hero div.lock__ui .left .slider-container .slider-image-supercontainer .slider-image-container .image-container img {
              width: 100%;
              opacity: 0.9;
              border-radius: 5px;
              transition: .25s; }
              section.part-homepage-hero div.lock__ui .left .slider-container .slider-image-supercontainer .slider-image-container .image-container img:hover {
                opacity: 1; }
          section.part-homepage-hero div.lock__ui .left .slider-container .slider-image-supercontainer .slider-image-container .title-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 20px; }
            section.part-homepage-hero div.lock__ui .left .slider-container .slider-image-supercontainer .slider-image-container .title-content p {
              font-weight: 700;
              font-size: 20px; }
            section.part-homepage-hero div.lock__ui .left .slider-container .slider-image-supercontainer .slider-image-container .title-content div.tag {
              margin-left: 8px;
              height: max-content; }
          section.part-homepage-hero div.lock__ui .left .slider-container .slider-image-supercontainer .slider-image-container .description {
            margin: 15px 0; }
            section.part-homepage-hero div.lock__ui .left .slider-container .slider-image-supercontainer .slider-image-container .description p {
              font-size: 14px; }
          section.part-homepage-hero div.lock__ui .left .slider-container .slider-image-supercontainer button.next {
            align-self: flex-end;
            color: white;
            font-size: 16px;
            font-weight: 800;
            letter-spacing: 1px;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: transparent;
            text-transform: uppercase;
            outline: none;
            border-style: none; }
            @media screen and (max-width: 768px) {
              section.part-homepage-hero div.lock__ui .left .slider-container .slider-image-supercontainer button.next {
                font-size: 14px; } }
            section.part-homepage-hero div.lock__ui .left .slider-container .slider-image-supercontainer button.next svg {
              margin-left: 8px; }
            section.part-homepage-hero div.lock__ui .left .slider-container .slider-image-supercontainer button.next:hover {
              cursor: pointer; }

/**
 * Custom Render Dialogs
 */
.dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render {
  width: 100%;
  max-width: 850px;
  margin: 25px;
  padding: 25px 40px 50px 40px; }
  .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render h2 {
    font-size: 26px;
    font-weight: 500; }
    @media screen and (max-width: 425px) {
      .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render h2 {
        font-size: 22px; } }
    .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render h2 span {
      font-size: 48px;
      font-weight: 900;
      letter-spacing: -1px; }
      @media screen and (max-width: 768px) {
        .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render h2 span {
          font-size: 36px; } }
      @media screen and (max-width: 425px) {
        .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render h2 span {
          font-size: 28px; } }
  .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render div.form-content-container {
    display: flex;
    flex-direction: row;
    margin-top: 40px; }
    @media screen and (max-width: 425px) {
      .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render div.form-content-container {
        margin-top: 25px; } }
    @media screen and (max-width: 768px) {
      .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render div.form-content-container {
        flex-direction: column; } }
    .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render div.form-content-container form {
      flex: .6;
      padding-right: 60px;
      display: flex;
      flex-direction: column; }
      @media screen and (max-width: 768px) {
        .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render div.form-content-container form {
          padding-right: 0px; } }
      .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render div.form-content-container form div.privacy-agreement {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px; }
        .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render div.form-content-container form div.privacy-agreement label {
          color: #B1B1B1;
          font-weight: 600;
          font-size: 14px;
          margin-left: 8px; }
      @media screen and (max-width: 768px) {
        .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render div.form-content-container form input[type=submit] {
          margin: 0 auto;
          width: 100%; } }
      .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render div.form-content-container form input[type=submit]:disabled {
        pointer-events: none;
        background: #B1B1B1;
        color: var(--light-black); }
      .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render div.form-content-container form span.status-send-form {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 18px;
        text-align: center;
        width: 100%; }
      .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render div.form-content-container form span.recaptcha-advertisement {
        margin-top: 25px;
        font-size: 12px;
        color: #B1B1B1; }
    .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render div.form-content-container .preferred-channel {
      padding-left: 60px;
      border-left: 1px solid #5A5A5A;
      flex: .4;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media screen and (max-width: 768px) {
        .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render div.form-content-container .preferred-channel {
          padding-left: 0px;
          border-left: none;
          border-top: 1px solid #5A5A5A;
          padding-top: 30px;
          margin-top: 30px; } }
      .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render div.form-content-container .preferred-channel h3 {
        font-size: 30px;
        font-weight: 800;
        margin-top: -25px; }
      .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render div.form-content-container .preferred-channel p {
        font-size: 13px;
        margin: 15px 0 35px 0; }
      .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render div.form-content-container .preferred-channel a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-width: max-content;
        font-size: 14px;
        font-weight: 700; }
        .dialog-supercontainer-render#dialog-form-hubspot .dialog-container-render div.form-content-container .preferred-channel a span {
          margin-left: 8px;
          color: black;
          align-self: center; }

.dialog-supercontainer-render#dialog-form-underconstruction .dialog-container-render {
  max-width: 815px; }
  .dialog-supercontainer-render#dialog-form-underconstruction .dialog-container-render .form-content-container {
    display: flex;
    flex-direction: row; }
    @media screen and (max-width: 768px) {
      .dialog-supercontainer-render#dialog-form-underconstruction .dialog-container-render .form-content-container {
        flex-direction: column; } }
    .dialog-supercontainer-render#dialog-form-underconstruction .dialog-container-render .form-content-container .image-container {
      flex: 0.3;
      display: flex;
      max-height: 230px;
      aspect-ratio: 1/1;
      align-self: center; }
      .dialog-supercontainer-render#dialog-form-underconstruction .dialog-container-render .form-content-container .image-container img {
        margin: auto;
        height: 100%;
        width: 100%; }
    .dialog-supercontainer-render#dialog-form-underconstruction .dialog-container-render .form-content-container form#under-construction-form {
      flex: 0.7;
      padding-left: 35px;
      margin-left: 35px;
      border-left: 1px solid #5A5A5A; }
      @media screen and (max-width: 768px) {
        .dialog-supercontainer-render#dialog-form-underconstruction .dialog-container-render .form-content-container form#under-construction-form {
          border-left: none;
          margin-left: 0;
          padding: 0;
          margin-top: 40px; } }
      .dialog-supercontainer-render#dialog-form-underconstruction .dialog-container-render .form-content-container form#under-construction-form h2 {
        font-size: 48px;
        font-weight: 900;
        letter-spacing: -1px; }
        @media screen and (max-width: 768px) {
          .dialog-supercontainer-render#dialog-form-underconstruction .dialog-container-render .form-content-container form#under-construction-form h2 {
            font-size: 36px; } }
        @media screen and (max-width: 425px) {
          .dialog-supercontainer-render#dialog-form-underconstruction .dialog-container-render .form-content-container form#under-construction-form h2 {
            font-size: 28px; } }
      .dialog-supercontainer-render#dialog-form-underconstruction .dialog-container-render .form-content-container form#under-construction-form p.description {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 30px; }
      .dialog-supercontainer-render#dialog-form-underconstruction .dialog-container-render .form-content-container form#under-construction-form .row-container {
        display: flex;
        flex-direction: row;
        margin: 29px 0 10px 0; }
        .dialog-supercontainer-render#dialog-form-underconstruction .dialog-container-render .form-content-container form#under-construction-form .row-container .input-container {
          margin-bottom: 0; }
        .dialog-supercontainer-render#dialog-form-underconstruction .dialog-container-render .form-content-container form#under-construction-form .row-container #send-underconstruction-button {
          height: 44px;
          align-self: flex-end; }
      .dialog-supercontainer-render#dialog-form-underconstruction .dialog-container-render .form-content-container form#under-construction-form div.privacy-agreement {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px; }
        .dialog-supercontainer-render#dialog-form-underconstruction .dialog-container-render .form-content-container form#under-construction-form div.privacy-agreement label {
          color: #B1B1B1;
          font-weight: 600;
          font-size: 14px;
          margin-left: 8px; }
      .dialog-supercontainer-render#dialog-form-underconstruction .dialog-container-render .form-content-container form#under-construction-form input[type=submit]:disabled {
        pointer-events: none;
        background: #B1B1B1;
        color: var(--light-black); }
      .dialog-supercontainer-render#dialog-form-underconstruction .dialog-container-render .form-content-container form#under-construction-form span.status-send-form {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 18px;
        text-align: center;
        width: 100%; }
      .dialog-supercontainer-render#dialog-form-underconstruction .dialog-container-render .form-content-container form#under-construction-form span.recaptcha-advertisement {
        margin-top: 25px;
        font-size: 12px;
        color: #B1B1B1; }
