section.part-homepage-hero {
  position: relative;
  background-color: var(--rich-black);
  height: 100%;
  width: 100%;
  min-height: 100vh; }
  section.part-homepage-hero.leadev-component-section:first-of-type {
    padding-top: 0;
    padding-left: 100px;
    padding-right: 100px; }
  section.part-homepage-hero canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    transition: .5s; }
  section.part-homepage-hero div.logo-3js {
    position: absolute;
    top: calc(50% - calc(70px / 2) - 3px);
    left: calc(50% - calc(380px / 2) + 35px); }
    section.part-homepage-hero div.logo-3js svg {
      width: 399px;
      height: 70px;
      overflow: hidden; }
      section.part-homepage-hero div.logo-3js svg path:nth-of-type(1), section.part-homepage-hero div.logo-3js svg path:nth-of-type(2) {
        transform: translateY(calc(100% + 10px));
        opacity: 0;
        transition: .4s ease-in-out; }
  section.part-homepage-hero div.lock__ui {
    display: flex; }
    section.part-homepage-hero div.lock__ui .left {
      width: 50%;
      height: 100%;
      max-width: 530px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      section.part-homepage-hero div.lock__ui .left span.category-parent {
        margin-bottom: 15px; }
      section.part-homepage-hero div.lock__ui .left p.description {
        margin: 25px 0 40px 0; }
      section.part-homepage-hero div.lock__ui .left button {
        max-width: max-content; }
      section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container {
        display: flex;
        flex-direction: row;
        padding: 20px 8px;
        border-radius: 5px; }
        section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container div.illustration {
          max-width: 60px;
          height: auto; }
          section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container div.illustration img {
            width: 100%; }
        section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info {
          padding-left: 15px;
          display: flex; }
          section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary {
            display: flex;
            flex-direction: column; }
            section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary .content-title .title-subcontainer {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin-top: 4px; }
              section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary .content-title .title-subcontainer .title {
                font-size: 20px;
                margin: auto 0; }
              section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary .content-title .title-subcontainer .arrow-container {
                transform: rotate(0deg); }
            section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary div.complete {
              padding-top: 0;
              max-height: 0px;
              overflow: hidden;
              transition: .35s ease-in-out; }
              section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary div.complete p {
                font-size: 14px; }
              section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary div.complete button {
                padding: 7px 14px;
                font-weight: 700;
                font-size: 14px;
                margin-top: 15px; }
                section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container .accordion-info .summary div.complete button:hover {
                  transform: scale(1.03); }
      section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container.open .accordion-info .summary .content-title .title-subcontainer .arrow-container {
        transform: rotate(180deg); }
      section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container.open .accordion-info .summary div.complete {
        padding-top: 15px;
        height: auto;
        max-height: 150px;
        transition: .35s ease-in-out; }
      section.part-homepage-hero div.lock__ui .left .slider-container .accordion-container:not(.open):hover {
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer; }
