@import 'sass_variables';

* {
  font-family: 'Urbanist';
}

// global settings for google material symbols
.material-symbols-outlined {
  font-size: 21px;
}

h1, h2, h3, h4, h5, h6, p, span {
  // user-select: none;
  color: white;
}
p {
  font-size: 15px;
  line-height: 160%;
  height: max-content;
  letter-spacing: 0.5px;
}
h1 {
  font-size: 62px;
  font-weight: 900;
  line-height: 100%;
  @media screen and (max-width: $desktop-extra-small) {
    font-size: 37px;
  }
  @media screen and (max-width: $tablet) {
    font-size: 32px;
  }
  @media screen and (max-width: $mobile-large) {
    font-size: 28px;
  }
}
h2 {
  font-size: 29.3px;
  @media screen and (max-width: $tablet) {
    font-size: 22px;
  }
}
h3 {

}
h4 {

}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
button {

}
a {
  text-decoration: none;
  color: white;
  letter-spacing: .5px;
  font-weight: 500;
}
span {
  &.green {
    color: var(--main-color);
  }
  &.category{ 
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 600;
  }
}