div.background-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  @keyframes penrose-loading {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  div.penrose-loader {
    margin: auto;
    svg {
      width: 80px;
      height: auto;
      animation: penrose-loading 2s ease-in-out 0s infinite;
    }
  }
}