$container-height: 330px;

.slider-container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
  user-select: none;
  .slider-indicator {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
    max-height: $container-height;
    position: absolute;
    left: -89px;
    top: calc(50% - (#{$container-height} / 2));
    @media screen and (max-width: 1024px) {
      display: none;
    }
    .raw-indicator {
      font-weight: 700;
      text-align: center;
    }
    .line-container {
      display: flex;
      margin: 25px 0 40px 0;
      position: relative;
      height: calc(100% - 140px);
      .track-line {
        width: 2px;
        min-height: 100%;
        background: linear-gradient(180deg, white, rgba(255, 255, 255, 0));
        opacity: 0.28;
        margin: 0 auto;
      }
      .line-current-active-track {
        transition: .5s;
        $width: 4px;
        height: 33%;
        width: $width;
        filter: drop-shadow(0px -1.934px 7.639px var(--main-color));
        background-color: var(--main-color);
        position: absolute;
        left: calc(50% - (#{$width} / 2));
      }
    }
    .scroll-label {
      transform: rotate(-90deg);
      text-transform: uppercase;
      font-weight: 700;
      font-size: 15px;
      /* Define el gradiente */
      background: linear-gradient(90deg, white, rgba(255, 255, 255, 0));

      /* Aplica el gradiente al texto */
      background-clip: text;
      -webkit-background-clip: text;

      /* Hace que el color de relleno del texto sea transparente para que se vea el gradiente */
      -webkit-text-fill-color: transparent;
    }
    span#scroll-down-arrow {
      transform: rotate(-90deg);
      font-size: 12px;
    }
  }
  .slider-sections {
    // position: absolute;
    // top: calc(50% - (#{$container-height} / 2));
    // left: 0;
    // height: $container-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    @media screen and (max-width: 1024px) {
      top: auto;
      bottom: 0px;
      height: 50%;
      min-height: 380px;
      align-self: flex-end; // DO NOT USE 'end' due some Safari devices compatibility.
      // min-height: max-content;
    }
    .slide {
      flex-direction: column;
    }
    .slide:not(.show) {
      display: none;
    }
  }
}

/**
 * Animation section
 */
.animate {
  // Vertical reveal
  &.vertical-reveal {
    display: inline-block;
    overflow: hidden;
    span {
      display: inline-block;
      transform: translateY(100%);
      opacity: 0;
      transition: .5s ease-in-out;
    }
    &.show {
      span {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  // Fade reveal
  &.vertical-fade-reveal {
    transition: .5s ease-in-out !important;
    transform: translateY(20px);
    opacity: 0;
    &.show {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &.horizontal-fade-reveal {
    transition: transform .5s ease-in-out, opacity .5s ease-in-out;
    transform: translateX(-50px);
    opacity: 0;
    &.show {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

/**
 * Slider Image
 */
 .slider-image-supercontainer {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1024px) {
    overflow: scroll;
  }
  .slider-image-container {
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
    transform: translateY(20px);
    opacity: 0 !important;
    &.show {
      opacity: 1 !important;
      transform: translateY(0);
    }
  }
}